@model Mantimentos.App.ViewModels.UnidadeMedidaViewModel

@{
    ViewData["Title"] = "Deletar";
}

<h4>Deseja realmente excluir a unidade de medida?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <h4>Categoria</h4>
        </dt>
        <dd class="col-sm-10">
            <h5> @Html.DisplayFor(model => model.Unidade)</h5>
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Sigla" />
        <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt "></i> Deletar</button>
        <a class="btn btn-info" asp-action="Index"><i class="fas fa-chevron-left"></i> Retornar a lista</a>
    </form>
</div>
