@{
    ViewData["Title"] = "Fashion Charm";
}

<div class="text-center">
    <h1 class="display-4">Fashion Charm</h1>
</div>
<div class="container-fluid">
    <div id="carouselsite" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/img/01.webp" class="img-fluid d-block" />
            </div>
            <div class="carousel-item">
                <img src="~/img/02.jpg" class="img-fluid d-block" />
            </div>
            <div class="carousel-item">
                <img src="~/img/03.jpg" class="img-fluid d-block" />
            </div>
            <div class="carousel-item">
                <img src="~/img/04.jpg" class="img-fluid d-block" />
            </div>
            <div class="carousel-item">
                <img src="~/img/05.jpg" class="img-fluid d-block" />
            </div>
            <div class="carousel-item">
                <img src="~/img/06.jpg" class="img-fluid d-block" />
            </div>
        </div>
    </div>
</div>

