@model Mantimentos.App.ViewModels.MovimentoViewModel

@{
    ViewData["Title"] = "Edição";
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MantimentoId" class="control-label"></label>
                <input asp-for="MantimentoId" class="form-control" />
                <span asp-validation-for="MantimentoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantidade" class="control-label"></label>
                <input asp-for="Quantidade" class="form-control" />
                <span asp-validation-for="Quantidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoMovimento" class="control-label"></label>
                <div>
                    <input type="radio" value="1" asp-for="TipoMovimento" checked="@((int)Model.TipoMovimento == 1)" /> Entrada
                    <input type="radio" value="2" asp-for="TipoMovimento" checked="@((int)Model.TipoMovimento == 2)" /> Saida
                </div>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <button type="submit" class="btn btn-success"><i class="fas fa-check"></i> Salvar</button>
                <a class="btn btn-info" asp-action="Index"><i class="fas fa-chevron-left"></i> Retornar a lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
